---
import BaseLayout from './BaseLayout.astro'

interface Props {
  title?: string
}

const { title } = Astro.props
---
<BaseLayout title={title}>
  <div class="min-h-screen flex items-center justify-center">
    <slot />
  </div>
</BaseLayout>